@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-container {
    padding: 10px; /* Add padding around the logo */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block;
    max-height: 120px; /* Adjust max-height as needed */
  }

/* For Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;  /* Width of the entire scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #cffafe; /* A light cyan, like shallow water */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #22d3ee, #0ea5e9); /* Gradient like a water slide */
  border-radius: 10px;
  border: 2px solid #cffafe; /* Creates a small border to make it pop */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #67e8f9, #38bdf8); /* Brighter gradient on hover */
}

/* For Firefox */
/* Note: Firefox support is less customizable */
* {
  scrollbar-width: thin; /* Can be "auto", "thin", or "none" */
  scrollbar-color: #0ea5e9 #cffafe; /* thumb color track color */
}